*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
   
}
#body{
    background-color:rgb(244, 198, 113);
    height:120vh;
    width:100%
}
#conatiner{
    border:solid red;
    height:120vh;
    width:70vh;
  background-color:orange;
margin-left:70vh ;

}
#main{
    padding-bottom: 20px;
}
img{
    margin-right:10px ;
}
button{
    background-color: white;
    border: none;
    color: orange;
   margin-left: 20vh;
   padding: 2vh 5vh;
}
